@use './typography' as *;
@use './variables' as *;
@use './colors' as *;

// MEDIA QUERIES
//Breakpoint for tablet size
@mixin tablet {
    @media screen and (min-width: 768px){
        @content;
    }
}

// Breakpoint for desktop size
@mixin desktop {
    @media screen and (min-width: 1280px){
        @content;
    }
}

// GENERAL
@mixin general {
    margin: 0;
    font-size: $font-size;
    font-family: $main-font-family;
    font-weight: 400;
}

// WRAP
@mixin wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
    min-height: 100vh;
}

// TEXT STYLES & SIZES
@mixin logo {
    font-family: $title-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;

    @include tablet {
        font-size: 2rem;
    }
}

@mixin small-logo {
    font-family: $title-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;

    @include tablet {
        font-size: 1.5rem;
    }
}

@mixin menu {
    font-family: $title-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;

    @include tablet {
        font-size: 3.25rem;
    }

    @include desktop {
        font-size: 3.5rem;
    }
}

@mixin title {
    font-family: $title-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: $margin*3;
    color: $beige;

    @include tablet {
        font-size: 2.25rem;
        margin-bottom: $margin*4;
    }
}

@mixin subtitle {
    font-family: $title-font-family;
    font-style: italic;
    font-weight: 400;
    font-size: 1.75rem;
    margin-bottom: $margin*3;
    color: $beige;

    @include tablet {
        font-size: 2rem;
        margin-bottom: $margin*4;
    }
}

@mixin quote {
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    padding: 3rem 0;

    @include tablet {
        font-size: 2.5rem;
        padding: 3.5rem 0;
    }

    @include desktop {
        font-size: 3rem;
    }
}

@mixin paragraph {
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: $padding*2;

    @include tablet {
        font-size: 1.125rem;
        padding-bottom: $padding*3;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

@mixin paragraph-bold {
    @include paragraph;
    font-weight: 600;
}

@mixin text {
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;

    @include tablet {
        font-size: 1.125rem;
    }
}

@mixin button-label {
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    text-transform: uppercase;

    @include tablet {
        font-size: 1rem;
    }
}

// LINK STYLE RESET
@mixin link-style-reset {
    text-decoration: none;
    color: $black;

    &:hover {
        color: $white;
    }
}

@mixin link-style-reset-reverse {
    text-decoration: none;
    color: $white;

    &:hover {
        color: $black;
    }
}

@mixin link-style-reset-text {
    text-decoration: none;
    color: $black;

    &:hover {
        color: $beige;
    }
}

@mixin logo-style-reset {
    text-decoration: none;
    color: $black;
}

// BUTTONS
@mixin button {
    @include button-label;
    color: $black;
    background-color: transparent;
    border: solid 1px $black;
    padding: 0.5rem 1rem;

    &:hover {
        background-color: $white;
        color: $beige;
        border-color: $beige;
    }
}