@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: $padding*6;

    &__quote {
        @include quote;
        width: 75%;
    }

    &__location {
        @include subquote;
        width: 75%;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &__btn {
        @include button;
    }
}