.navigation {
    background-color: #efecea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 95vh;

    &--show {
        display: flex;
    }

    &--hide {
        display: none;
    }
}