@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;

.about-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $white;

    &__wrap {
        @include wrap;
    }

    &__section {
        padding-top: $padding*3;
        width: 100%;
        display: flex;
        flex-direction: column;

        &:last-child {
            padding-bottom: $padding*3;
        }

        @include tablet {
            padding-top: $padding*4;

        &:last-child {
            padding-bottom: $padding*4;
        }
        }
    }

    &__title {
        @include title;
    }

    &__subtitle {
        @include subtitle;
    }

    &__txt {
        @include paragraph;
    }

    &__link {
        @include link-style-reset-text;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        width: 100%;
    }

    &__btn {
        @include button;
    }

    &__group {
        display: flex;
        width: 100%;
        
        &-sub {
            display: flex;
            flex-direction: column;
            width: 50%;

            @include tablet {
                flex-direction: row;
            }
        }
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;

        @include tablet {
            width: 50%;
        }

        &-item {
            @include text;
        }
    }
}