.header {
    display: flex;
    justify-content: space-between;

    &__logo {

    }

    &__btn {

    }
}

.navbar {
    display: flex;
    flex-direction: column;
    
    &__link {

        &--active {

        }

    }
}