.header {
    z-index: 21000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {

    }

    &__btn {

    }
}

.navbar {
    display: flex;
    flex-direction: column;
    
    &__link {

        &--active {

        }

    }
}