@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;

.footer {
    height: 100vh;
    background-color: $beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__wrap {
        width: 90vw;
    }

    &__txt {
        display: flex;
        flex-direction: column;
    }

    &__quote {
        @include quote;
        width: 75%;
        color: $white;

        &-link {
            @include link-style-reset-reverse;

        }
    }

    &__links {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: $padding*6;
        border-top: 2px solid $black;
    }

    &__logo {
        @include logo-style-reset;
        @include small-logo;
        display: flex;
        flex-direction: column;
    }

    &__nav {
        display: flex;
        flex-direction: column;

        &-link {
            @include link-style-reset;
            @include paragraph;
            margin-bottom: $margin*2;
        }
    }

    &__social {
        display: flex;
        flex-direction: column;

        &-link {
            @include link-style-reset;
            @include paragraph;
            margin-bottom: $margin*2;
        }
    }
}