@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $white;

    &__wrap {
        width: 90vw;
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
}