@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/colors' as *;

.contact-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $white;

    &__wrap {
        @include wrap;
    }

    &__section {
        padding-top: $padding*3;
        width: 100%;
        display: flex;
        flex-direction: column;

        &:last-child {
            padding-bottom: $padding*3;
        }

        @include tablet {
            padding-top: $padding*4;
            width: 75%;

            &:last-child {
                padding-bottom: $padding*4;
            }
        }

        @include desktop {
            width: 50%;
        }
    }

    &__title {
        @include title;
    }

    // &__subtitle {
    //     @include subtitle;
    // }

    &__txt {
        @include paragraph;
    }

    &__link {
        @include link-style-reset-text;
        font-family: $title-font-family;
    }
}